/* Universal Styles */
* {
  box-sizing: border-box;
}

h2{
  font-family: Arial, sans-serif;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(to bottom, #a6c3ee 0%, #000000 100%);
  background-size: 500px 1200px;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist {
  padding: 20px;
  border-radius: 8px;
}

/* Content Section */
#content {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}

/* Track Info and Controls */
#track-info-and-controls {
  background: linear-gradient(to bottom, #a6c3ee 0%, #007acc 100%);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  /* background: #353535 url('Background_glass.jpg') no-repeat center center; */
  /* background-size: cover; */
  position: relative;
  /* border: 5px solid #353535; */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  min-height: 400px; 
}

#track-info {
  text-align: center;
}

#album-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

#audio-player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#audio-player-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 0;
}

#audio-player-controls button:disabled {
  cursor: not-allowed;
  color: #555;
}

#play-pause {
  font-size: 32px;
  height: 48px; 
  width: 48px;
  min-width: 48px;
  margin: 5px;
}

#audio-player-controls button img {
  width: 100%;
  height: auto;
}

#seek-bar,
#volume-control {
  width: 100%;
  margin-top: 10px;
}

#volume-control {
  width: 50%;
}



#toggle-track-list {
  position: absolute;
  top: 2px;
  right: 2px;
  background: none;
  border: none;
  padding: 5px;
  text-align: center;
}

#toggle-track-list img {
  width: 20px;
  height: 20px;
}

#track-name,
#track-artists {
  margin: 5px 0;
}

#track-artists {
  font-size: small;
  font-weight: lighter;
  color: #fff;
}

/* Track List Container */
#track-list-container {
  overflow-y: auto;
  scrollbar-width: none;
  min-height: 410px;
  max-height: 410px; 
  width: 500px; 
  /* border: 5px solid #353535; */
  border-radius: 8px;
}

#track-list {
  /* background: #1c1c1c; */
  /* background: linear-gradient(to bottom, #acacac 0%, #1c1c1c 100%);
  background-size: cover; */
  list-style-type: none; 
  padding: 0;
  margin: 0;
  width: 100%;
}

#track-list li {
  background: linear-gradient(to bottom, #a6c3ee 0%, #007acc 100%);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
  color: #000;
}

#track-list li:hover {
  background: linear-gradient(to bottom, #acacac 0%, #5f5f5f 100%);
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #FFCC00;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

#track-list li.playing {
  background: linear-gradient(to bottom, #FFCC00 0%, #664900a1 100%);
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #0033cc;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
#track-list li.playing:hover {
  background: linear-gradient(to bottom, #0052cc 0%, #001a66 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

/* Hidden Class */
.hidden {
  visibility: hidden;
}

/* Range Input Styles */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: #000;
  outline: none;
  opacity: 1;
  transition: opacity .2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #FFCC00;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgb(255, 255, 255);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 4px;
}


