*{
  box-sizing: border-box;
}
body {
  font-family:'Franklin Gothic Medium';
  background: url('Interface.png') no-repeat center center fixed; 
  background-size: cover;
  /* background-color: #121212; */
  color: #ff0000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  /* background: rgba(255, 255, 255, 0.8); */
  justify-content: center;
  align-items: center;
}

.playlist {
  /* background-color: #000000; */
  padding: 20px;
  border-radius: 8px;
}

#content {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
}

#track-info-and-controls {
  
  position: relative;
  border: 5px solid #353535;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; 
  /* max-height: 400px; */
  min-height: 400px; 
  /* width: 500px;  */
  /* background: url('interface.png') no-repeat center center;
  background-size: cover; Ensure the background image covers the entire container */
}


#track-info {
  text-align: center;
}

#album-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

#audio-player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#audio-player-controls button {
  background: none;
  border: none;
  color: #ff0000;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

#audio-player-controls button:disabled {
  cursor: not-allowed;
  color: #555;
}

#play-pause {
  display: inline-block;
  font-size: 32px;
  height: 48px; 
  width: 48px;
  min-width: 48px;
  margin: 5px;
}

#seek-bar {
  width: 100%;
  margin-top: 10px;
}

#volume-control {
  width: 50%;
  margin-top: 10px;
}

#toggle-track-list {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background: white;
  border: 5px solid #353535;
  border-radius: 8px;
  align-items: center;
  /* color: white; */
  /* padding: 20px; */
  text-align: center;
  /* position: fixed; */
  
  
}

#track-name
{
  margin: 5px 0;
}
#track-artists {
  margin: 5px 0;
  font-size: small;
  font-weight: lighter;
  color: gray;
}

#track-list-container {
  overflow-y: auto;
  scrollbar-width: none; 
  /* -ms-overflow-style: none;  For Internet Explorer and Edge */
  max-height: 400px; 
  width: 500px; 
  border: 5px solid #353535;
  border-radius: 8px;
}


#track-list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  width: 100%;
}

#track-list li {
  cursor: pointer;
  /* border-bottom: 1px solid #ff4800; */
  padding: 10px;
  transition: background-color 0.3s;
  color: gray;
}

#track-list li:hover {
  background-color: #127735;
}

#track-list li.playing {
  background-color: #693607; 
  color:  #ffffff;
}


.hidden {
  visibility: hidden;
}

#toggle-track-list img {
  width: 20px;
  height: 20px;
}


